body{
    background-color: #8E6F5B;
    font-family: Arial, sans-serif;
}


nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 20px 20px;
   background-color: black;
   color: blue;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    margin: 0 15px;
}

nav ul a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.logo{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
}
#hero{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    
}
.hero-image img{
    object-fit: cover;
    border-radius: 8px;
}   
.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #555;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-links a {
    margin: 0 10px;
    color: blue;
    text-decoration: none;
}

footer .social-links a:hover {
    color: brown;
}
    